<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mvc.model.dao.FoodNutrientDao">
    <select id="findByFoodName" resultType="FoodNutrientDto">
        SELECT
        id,
        food_name AS foodName,
        energy AS energy,              <!-- 실제로는 생략 가능 -->
        protein AS protein,            <!-- DTO 필드명과 일치 -->
        fat AS fat,
        carbohydrate AS carbohydrate,
        sodium AS sodium,
        potassium AS potassium,
        cholesterol AS cholesterol,
        saturated_fat AS saturatedFat
        FROM food_nutrients
        WHERE food_name LIKE CONCAT('%', #{foodName}, '%')
        LIMIT 1
    </select>


    <select id="selectById" resultType="FoodNutrientDto">
        SELECT *
        FROM food_nutrients
        WHERE id = #{id}
    </select>
</mapper>