<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mvc.model.dao.UserDao">

<!--  회원등록  -->
    <insert id="insert" parameterType="UserDto">
        INSERT INTO users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            login_id, password_hash, name, birth_date, gender, email, height, weight
            , diabetes, hypertension, heart_disease, kidney_disease, liver_disease
            <if test="familyCode != null">, family_code</if>
            , created_at, updated_at
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{loginId}, #{passwordHash}, #{name}, #{birthDate}, #{gender}, #{email}, #{height}, #{weight}
            , #{diabetes}, #{hypertension}, #{heartDisease}, #{kidneyDisease}, #{liverDisease}
            <if test="familyCode != null">, #{familyCode}</if>
            , #{createdAt}, #{updatedAt}
        </trim>
    </insert>


<!--  유저조회  -->
    <select id="select" resultType="UserDto">
        SELECT
        id,
        login_id AS loginId,
        password_hash AS password,
        name,
        birth_date AS birthDate,
        gender,
        email,
        height,
        weight,
        theme_pref AS uiTheme,
        created_at AS createdAt,
        updated_at AS updatedAt
        FROM users
    </select>

<!--
    <update id="update" parameterType="UserDto">
        UPDATE users
        <set>
            login_id = #{loginId},
            password_hash = #{passwordHash},
            name = #{name},
            birth_date = #{birthDate},
            gender = #{gender},
            email = #{email},
            height = #{height},
            weight = #{weight}
            <if test="uiTheme != null">
                , theme_pref = #{uiTheme}
            </if>
            , updated_at = NOW()
        </set>
        WHERE id = #{id}
    </update>
    -->

    <!--update 이걸로 수정해야되지 않을까요??-->
    <update id="update" parameterType="UserDto">
        UPDATE users
        <set>
            name = #{name},
            birth_date = #{birthDate},
            gender = #{gender},
            email = #{email},
            height = #{height},
            weight = #{weight},
            theme_pref = #{uiTheme}
            diabetes = #{diabetes},
            hypertension = #{hypertension},
            heart_disease = #{heartDisease},
            kidney_disease = #{kidneyDisease},
            liver_disease = #{liverDisease},
            <if test="familyCode != null">
                family_code = #{familyCode},
            </if>
            updated_at = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>


    <delete id="delete" parameterType="int">
        DELETE FROM users
        WHERE id = #{id}
    </delete>

    <select id="detail" parameterType="int" resultType="UserDto">
        SELECT
        id,
        login_id AS loginId,
        password_hash AS password,
        name,
        birth_date AS birthDate,
        gender,
        email,
        height,
        weight,
        theme_pref AS uiTheme,
        diabetes AS diabetes,
        hypertension AS hypertension,
        heart_disease AS heartDisease,
        kidney_disease AS kidneyDisease,
        liver_disease AS liverDisease,
        created_at AS createdAt,
        updated_at AS updatedAt
        FROM users
        WHERE id = #{id}
    </select>

    <select id="findByLoginId" resultType="UserDto" parameterType="String">
        SELECT
        id,
        login_id AS loginId,
        password_hash AS passwordHash, <!-- 여기가 문제! password가 아닌 passwordHash로 매핑해야 함 -->
        name,
        birth_date AS birthDate,
        gender,
        email,
        height,
        weight,
        theme_pref AS uiTheme,
        diabetes,
        hypertension,
        heart_disease AS heartDisease,
        kidney_disease AS kidneyDisease,
        liver_disease  AS liverDisease,
        family_code AS familyCode,
        created_at AS createdAt,
        updated_at AS updatedAt
        FROM users
        WHERE login_id = #{loginId}
    </select>

    <select id="selectById" resultType="int">
        SELECT *
        FROM users
        WHERE id = #{id}
    </select>

    <select id="selectUserDiseases" resultType="Int" parameterType="int">
        SELECT disease_id
        FROM user_diseases
        WHERE user_id = #{userId}
    </select>

    <update id="updateTheme">
        UPDATE users
        SET theme_pref = #{newTheme},
            updated_at = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

</mapper>